@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.navbar-1 {
  padding: 0.5rem;
  display: flex;
  width: 100%;
  height: 13%;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}
.navbar-1 span {
  display: flex;
  margin-left: 3rem;
}
.navbar-1 span .logo {
  height: 80px;
}
.navbar-1 p {
  color: #47C5FB;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-top: 8px;
}
.navbar-1 a {
  color: #0069C2;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.event-container {
  background: #00569E;
  width: 100%;
  display: flex;
  height: 87%;
}
.event-container .event-details {
  width: 50%;
  margin-top: 5%;
  margin-left: 6%;
}
.event-container .event-image {
  height: 99%;
  width: 100%;
}
.event-container .event-title p {
  color: #FFF;
  font-family: "Poppins";
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -1.34px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.event-container .event-description p {
  width: 620px;
  height: 81px;
  color: #96ECFF;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.event-container a {
  border: none;
  display: flex;
  width: 353px;
  padding: 15px 33px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 104px;
  background: #FFF;
  text-decoration: none;
  margin-top: 33px;
}
.event-container a p {
  color: #0069C2;
  font-family: "Poppins";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  /* Your styles for screens under 1440 pixels go here */
  .logo {
    width: 50px;
  }
  /* Add more styles as needed */
}
@media (max-width: 1432px) {
  body {
    overflow-y: scroll;
  }
  .event-container {
    flex-direction: column-reverse;
    padding-bottom: 5rem;
  }
  .event-image {
    position: relative;
    right: 20rem;
  }
}
.register-container {
  background-color: white;
  height: 80%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.register-container .register-form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-container h1 {
  color: #000;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.register-container p {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.register-container a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.register-container .form-email {
  margin-top: 4rem;
}
.register-container .form-email p {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.66);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.register-container .form-email input {
  padding: 1rem;
  font-size: 2rem;
  width: 596px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #FFF;
}
.register-container .form-email button {
  color: #FFF;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  border: none;
  margin-top: 2rem;
  display: flex;
  width: 596px;
  border-radius: 80px;
  background: #00569E;
  height: 74px;
  padding: 0px 242px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.red {
  color: red;
}/*# sourceMappingURL=index.css.map */